/src/semanticcad/csg/__pycache__/
/src/semanticcad/geometry/__pycache__/
/src/semanticcad/primitives/__pycache__/
/src/semanticcad/stl/__pycache__/
/src/semanticcad/algebra/__pycache__/
/src/teste_box.stl
/src/teste_box2.stl
/src/teste_cylinder.stl
/src/operations.dot
